@model ModelZapasImagen

@{
    Zapatilla zapa = Model.Zapatilla;
}


<h3 class="mt-3">
     @ViewData["POSICION"] de @Model.NumeroRegistros
</h3>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <button onclick="loadImagenes(1)" class="btn">
            Primero
        </button>
    </li>
    <li class="list-group-item">
        <button onclick="loadImagenes(@ViewData["ANTERIOR"])" class="btn">
            Anterior
        </button>
    </li>
    <li class="list-group-item">
        <button onclick="loadImagenes(@ViewData["SIGUIENTE"])" class="btn">
            Siguiente
        </button>
    </li>
    <li class="list-group-item">
        <button onclick="loadImagenes(@ViewData["ÚLTIMO"])" class="btn">
            Último
        </button>
    </li>
</ul>

<div>
    <img class="img-fluid" src="@Model.ImagenZapa.Imagen"/>
</div>